.board {
    display: grid;
  
    grid-template-columns: repeat(9, 1fr); 
    width: 450px;
    height: 450px;
    border: 3px solid black;
}

.sudoku-cell {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid lightgray;
    outline: none;
    
    box-sizing: border-box; 
}

.sudoku-cell:nth-child(3n) {
    border-right: 3px solid black;
}
.sudoku-cell:nth-child(9n) {
    border-right: 1px solid lightgray;
}

.sudoku-cell:nth-child(n+19):nth-child(-n+27),
.sudoku-cell:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 3px solid black;
}

.filled-cell {
    background-color: lightgray;
    color: black;
}
